* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/378/132/non_2x/vector-banner-of-the-universe.jpg);
    background-size: cover;
}

img{
    max-width: 100%;
}


section{
    display: flex;
    justify-content: center;
    height: 400px;
}

nav{
    padding: 30px;
}

#infinity {
    position: relative;
    width: 212px;
    height: 100px;
    box-sizing: content-box;
    margin: 100px;
    position: relative;
    animation: infinity 5s infinite;
  }
  #infinity:before,
  #infinity:after {
    content: "";
    box-sizing: content-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid lightgray;
    border-radius: 50px 50px 0 50px;
    transform: rotate(-45deg);
  }
  #infinity:after {
    left: auto;
    right: 0;
    border-radius: 50px 50px 50px 0;
    transform: rotate(45deg);
  }

  @keyframes infinity{
    0% {
        transform: rotate(0deg);
        left: -300px;
    }
    25% {
        transform: rotate(20deg);
        left: -300px;
    }
    50% {
        transform: rotate(0deg);
        left: 300px;
    }
    55% {
        transform: rotate(0deg);
        left: 300px;
    }
    70% {
        transform: rotate(0deg);
        left: 300px;        
    }
    100% {
        transform: rotate(-360deg);
        left: -300px;
    }
}

footer{
    background-color: black;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    color: lightgray;
}