@keyframes anima {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

}

.animattion {
    border: solid, black;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    animation: anima 5s;
    position: relative;
}

body {
    background-color: gray;
}